# CA Props Analysis

In [93]:
import pandas as pd

In [94]:
props = pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

In [95]:
props.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
0,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,382,1374469,YES ON PROPOSITION 51 - CALIFORNIANS FOR QUALI...,SUPPORT
1,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,383,1220380,COMMUNITY COLLEGE FACILITY COALITION ISSUES CO...,SUPPORT
2,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,384,1282321,TORLAKSON'S INVEST IN CALIFORNIA A BALLOT MEAS...,SUPPORT
3,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,385,1382843,CALIFORNIA TAXPAYERS AND EDUCATORS OPPOSED TO ...,OPPOSE
4,ocd-contest/85990193-9d6f-4600-b8e7-bf1317841d82,1362198,71,PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...,386,1362973,YES ON PROPOSITION 52 - A COALITION OF CALIFOR...,SUPPORT

In [96]:
props.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
ocd_prop_id               102 non-null object
calaccess_prop_id         102 non-null int64
ccdc_prop_id              102 non-null int64
prop_name                 102 non-null object
ccdc_committee_id         102 non-null int64
calaccess_committee_id    102 non-null int64
committee_name            102 non-null object
committee_position        102 non-null object
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [97]:
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")

In [98]:
contribs.head()

,calaccess_committee_id,committee_name,calaccess_filing_id,date_received,contributor_lastname,contributor_firstname,contributor_city,contributor_state,contributor_zip,contributor_employer,contributor_occupation,contributor_is_self_employed,amount
0,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,BERGMAN,GRETCHEN,SPRING VALLEY,CA,91978,A NEW PATH,EXECUTIVE DIRECTOR,False,$84.00
1,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-09-18,KAHLE,MYRNA,SAN DIEGO,CA,92109,NATIONAL SCHOOL DISTRICT,TEACHER,False,$35.00
2,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-15,MCDEVITT,LEO,ESCONDIDO,CA,92025,LIFE IONIZERS,SEO/CONTENT MANAGER,False,$198.00
3,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-08-10,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,False,$-50.00
4,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,2083796,2016-07-26,WARREN-SAMARIPA,STEPHANIE,SAN DIEGO,CA,92116,STEPHANIE WARREN SAMARIPA,ENTREPRENEUR,True,$50.00

In [ ]:
pd.options.display.float_format = '${:,.2f}'.format

In [ ]:
support = merged[merged.committee_position == 'SUPPORT']

In [ ]:
oppose = merged[merged.committee_position == 'OPPOSE']

In [ ]:
oppose.amount.sum()

In [ ]:
support.amount.sum()

In [ ]:
support.amount.sum() / merged.amount.sum()

In [ ]:
merged.sort_values("amount")

In [ ]:
merged.sort_values("amount", ascending=False)

In [ ]:
merged.sort_values("amount", ascending=False).head()

In [ ]:
support.sort_values("amount", ascending=False).head()

In [ ]:
oppose.sort_values("amount", ascending=False).head()

In [ ]:
merged.groupby("committee_name_x").amount.sum()

In [ ]:
merged.groupby("committee_name_x").amount.sum().reset_index().sort_values("amount", ascending=False)

In [ ]:
merged.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False)

In [ ]:
oppose.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head()

In [ ]:
support.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head()

## Prop 8 Analysis

In [ ]:
prop8 = pd.read_csv ("/Users/larson/Downloads/prop8contributions.csv")

In [ ]:
prop8.info()

In [ ]:
prop8.head()

In [ ]:
support8 = prop8.position == "Support"

In [ ]:
support8.info()

In [ ]:
support8 = prop8[prop8.position == 'Support']

In [ ]:
prop8.groupby(["name" , "state" , "position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(15)

In [ ]:
ca8.groupby(["position"]).sort_values("zipcode").head(15)

In [ ]:
oppose8 = prop8[prop8.position == 'Oppose']

In [ ]:
ca8 = prop8[prop8.state == 'CA']

In [ ]:
support8.groupby(["name" , "state" , "position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(15)

In [ ]:
oppose8.groupby(["name" , "state" , "position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(15)

In [ ]:
support8.info()

In [ ]:
import numpy as np

In [ ]:
data = datasets[0]
data = data.fillna(np.nan)

In [ ]:
prop8.sample(n=5)

In [ ]:
prop8.sort_values(by='amount', ascending=False)[:10]

In [ ]:
small8 = prop8['amount'].apply(lambda x: x < 100)

In [102]:
small8 = prop8[prop8.amount > 1000]

## Small Contributors

In [103]:
small8.head()

,id,amount,position,name,employer,city,state,zipcode
3,4,"$500,000.00",Oppose,21 (Stephen Bing),Shangri-La Entertainment,Encino,CA,91436
5,6,"$7,245.00",Oppose,"301 University, Llc",NaN,San Diego,CA,92103
18,19,"$1,600.00",Oppose,A Justin Schoenmoser,None,Beaverton,OR,97005
29,30,"$50,000.00",Oppose,A Professional Law Corporation,NaN,Oakland,CA,94607
31,32,"$5,000.00",Oppose,A Rumer,Same Name,San Francisco,CA,94111

In [104]:
small8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6543 entries, 3 to 101877
Data columns (total 8 columns):
id          6543 non-null int64
amount      6543 non-null float64
position    6543 non-null object
name        6543 non-null object
employer    5161 non-null object
city        6537 non-null object
state       6536 non-null object
zipcode     6534 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 460.1+ KB

In [105]:
small8.sum()

id                                                  333644604
amount                                         $60,191,157.19
position    OpposeOpposeOpposeOpposeOpposeSupportOpposeOpp...
name        21 (Stephen Bing)301 University, LlcA Justin S...
dtype: object

In [106]:
float(small8.id.count()) / prop8.id.count()

0.06421379080220621

In [108]:
small8.groupby(["name" , "state" , "position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(15)

,name,state,position,amount
3467,Knights Of Columbus Headquarters,CT,Support,"$1,400,000.00"
1948,Fieldstead And Co.,CA,Support,"$1,395,000.00"
677,California Teachers' Association Issues Pac,CA,Oppose,"$1,318,751.72"
5164,Robert W. Wilson,NY,Oppose,"$1,200,100.00"
1369,David Maltz,OH,Oppose,"$1,200,000.00"
1275,David Bohnett,CA,Oppose,"$1,100,000.00"
3776,Los Angeles Gay & Lesbian Community Services C...,CA,Oppose,"$1,025,349.73"
598,Bruce Bastian,UT,Oppose,"$1,010,000.00"
51,Alan Ashton,UT,Support,"$1,000,000.00"
976,Claire Reiss,CA,Support,"$1,000,000.00"
3014,Jon Stryker,MI,Oppose,"$1,000,000.00"
1990,Fred Eychaner,IL,Oppose,"$925,000.00"
2981,John Templeton Jr.,PA,Support,"$900,000.00"
1952,Focus On The Family,CO,Support,"$641,593.17"
6307,"Williamson Capital, Lp",CA,Oppose,"$570,000.00"

In [107]:
prop8.sum()

id                                                 5191244565
amount                                         $83,169,873.03
position    SupportSupportSupportOpposeSupportOpposeOppose...
name        100 W Foothill Blvd., Llc1St Baptist Churchof ...
dtype: object

In [109]:
small8.amount.sum() / prop8.amount.sum()

0.72371346735480291

In [110]:
oppose_small8 = small8[small8.position == 'Oppose']

In [111]:
support_small8 = small8[small8.position == 'Support']

In [112]:
support_small8.count()

id          3552
amount      3552
position    3552
name        3552
employer    2404
city        3551
state       3552
zipcode     3549
dtype: int64

In [113]:
oppose_small8.sum()

id                                                  150497013
amount                                         $30,734,264.95
position    OpposeOpposeOpposeOpposeOpposeOpposeOpposeOppo...
name        21 (Stephen Bing)301 University, LlcA Justin S...
dtype: object

In [ ]:
support_small8.count()

In [ ]:
oppose_small8.count()

## Percent of contributors that were less than $1,000

In [114]:
float(support_small8.id.count()) / small8.id.count()

0.5428702430077946

In [ ]:
small8.id.count()

In [ ]:
support_small8.id.count()

In [ ]:
oppose_small8.id.count()

In [115]:
support_small8.amount.sum() / small8.amount.sum()

0.48938903345911894